$highlight-font-stack: 'Lato', 'Verdana', sans-serif;
$standard-font-stack: 'Merriweather', 'Georgia', serif;

$primary-color: #373635;
$primary-background: #ebe6e1;

$life-color: #5e4352;
$work-color: #7a4c50;
$sandbox-color: #a17958;