extends layout

block content
  .panel(class="#{page}")
    h1= message
    p= error.status
    pre #{error.stack}

block css
  link(rel='stylesheet', href='/css/index.css')
  //link(rel='stylesheet', href='/css/error.css')

block js
  //script(type='text/js', src='/js/error.js')