head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width')
  title= title

  <!--[if lt IE 9]>
  script(type='text/javascript', src='/components/html5shiv/dist/html5shiv.min.js')
  <![endif]-->
  //link(rel='stylesheet', href='/components/pure/menus-min.css')
  //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:700,900&text=hi\,I\'mstevnjco\.ylfwrkadbxW')
  //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather')
  link(rel='stylesheet', href='/components/normalize.css/normalize.css')
  link(rel='stylesheet', href='/css/style.css')
  block css