extends layout

block content
  #overlay
    h1= title
    p Welcome to #{title}

    ul
      each article in articles
        li= article.title

  canvas(id='scrawl')

block css
  link(rel='stylesheet', href='/css/index.css')

block js
  script(src='/components/noisejs/index.js')
  script(src='/js/index.js')