extends layout

block content
  .panel(class="#{page}")
    each article, index in articles
      h2= article.title
      p= article.text

      if index !== (articles.length - 1)
        .hr

block css
  link(rel='stylesheet', href='/css/index.css')

block js
  //script(type='text/js', src='/js/index.js')