doctype html
html(lang='en')

  include head.jade

  body
    include body-header.jade

    .content
      block content

    include body-footer.jade

    //script(src='/components/jquery/dist/jquery.min.js')
    //script(src='/components/knockoutjs/dist/knockout.js')

    block js
      script(type='text/javascript', src='http://localhost:35729/livereload.js')